@page "/diffShare"
<MatH4 Class="text-center">Share code</MatH4>
<MatButton Link="/">Home</MatButton>
@if (!userSubmitted)
{
    <MatButton Class="text-center" Raised="true" @onclick="UpdateUser">Sign-in to begin team coding</MatButton>
}

@if (userSubmitted)
{
    <MatButton OnClick="UpdateUser">Update User</MatButton>
    <MatButton OnClick="UpdateCodeSnippet">Code Snippet Menu</MatButton>
    <br />
   
}
@if (isSelectSnippet)
{
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
            <MatH6>Chat/Output Window</MatH6>
            <div class="chat-window">@((MarkupString) ChatContent)</div>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-9">
            <DiffShareHub UserName="@userName" OtherUser="@otherUser" Snippet="@CodeSnippet"
                          GroupName="@teamname" OnNewMessage="HandleNewMessage"/>
        </div>
    </div>
</div>
}
@if (!isSelectSnippet && userSubmitted)
{
    <MatH4 Class="text-center">Select a code snippet to begin</MatH4>
}

@*<div style="bottom:2em; right:1em; position:fixed; max-height:1.5em; max-width:8.5em">
    <MatButton OnClick="AddToNewDb">Test</MatButton>
    <p>@TempMessage</p>
</div>*@