@using MasterSharpOpen.Shared.CodeModels
<div>
    @foreach ((string listTitle, var snippetDict) in CodeSnippets.AllSnippets())
    {
        <div class="text-center">
            <MatH5 Class="text-center">@listTitle</MatH5>
            <MatDivider></MatDivider>
            @foreach ((string snippetName, string snippet) in snippetDict)
            {
                <MatButton OnClick="@(() => UpdateCodeSnippet(snippet))">@snippetName</MatButton>
            }
        </div>
    }
    <AuthorizeView>
        <Authorized>
            @if (AppStateService.UserAppData?.Snippets?.Any() ?? false)
            {
                <dic class="text-center">
                    <MatH5>Your snippets</MatH5>
                    <MatDivider/>
                    @foreach (var snippet in AppStateService.UserAppData.Snippets)
                    {
                        <MatButton Label="@snippet.Name" @onclick="@(() => UpdateCodeSnippet(snippet.Snippet))"></MatButton>
                    }
                </dic>
            }
        </Authorized>
    </AuthorizeView>
</div>