@page "/codeHome"
@using MasterSharpOpen.Shared.CodeModels
<MatH4 Class="text-center">Practice your C#</MatH4>

<MatAccordion>
   
    <MatExpansionPanel Expanded="true">
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>
                Code Editor - <span style="font-style:italic">Click to begin</span>
            </MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>
                Add or select and modify a full c# code block, then execute
            </MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatTabGroup>

                <MatTab Label="Collections">
                    <hr />
                    @foreach (var snippet in (CodeSnippets.CollectionsSnippets))
                    {
                        <MatButton Label="@snippet.Key" @onclick="@(() => UpdateCodeSnippet(snippet.Value))"></MatButton>
                    }

                </MatTab>
                <MatTab Label="Strings">
                    <hr />
                    @foreach (var snippet in (CodeSnippets.StringsSnippets))
                    {
                        <MatButton Label="@snippet.Key" @onclick="@(() => UpdateCodeSnippet(snippet.Value))"></MatButton>
                    }

                </MatTab>
                <MatTab Label="Conditionals and Loops">
                    <hr />
                    @foreach (var snippet in (CodeSnippets.ConditionalSnippets))
                    {
                        <MatButton Label="@snippet.Key" @onclick="@(() => UpdateCodeSnippet(snippet.Value))"></MatButton>
                    }

                </MatTab>
                <MatTab Label="Extension Methods">
                    <hr />
                    @foreach (var snippet in (CodeSnippets.ExtensionSnippets))
                    {
                        <MatButton Label="@snippet.Key" @onclick="@(() => UpdateCodeSnippet(snippet.Value))"></MatButton>
                    }

                </MatTab>
                <MatTab Label="Console App">
                    <hr />
                    @foreach (var snippet in (CodeSnippets.ConsoleSnippets))
                    {
                        <MatButton Label="@snippet.Key" @onclick="@(() => UpdateCodeSnippet(snippet.Value, true))"></MatButton>
                    }
                </MatTab>
                <hr />
            </MatTabGroup>
            @if (!string.IsNullOrEmpty(codeSnippet) && isMonacoOpen)
            {
                <div class="mat-layout-grid">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                            @if (isCodeCompiling)
                            {
                                <hr />
                                <MatH4 Class="text-center" Style="color:blue">Executing...</MatH4>
                                <SpinKitFadingCircle />
                            }
                            <MonacoEdit CodeSnippet="@codeSnippet" OnCodeSubmit="HandeSubmit" />
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <div class="text-center">
                                <div style="font-size:1.3em">Output</div>
                                <MatButton Style="font-size:.8em" OnClick="ClearOutput" Label="Clear"></MatButton>
                            </div>
                            <div class="console">
                                @((MarkupString) codeOutput)
                            </div>
                        </div>
                    </div>
                </div>
            }
        </MatExpansionPanelDetails>
    </MatExpansionPanel>

</MatAccordion>
<div class="mainIcon" style="background-image: url('Icons/practiceIcon.png')"></div>