@using MasterSharpOpen.Shared.ArenaChallenge
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
            <MatH3 Class="text-center">Join Arena</MatH3>
            <MatTable Class="mat-elevation-z5" TableItem="Arena" Items="OpenArenas" AllowSelection="true" OnRowDbClick="JoinArena">
                <MatTableHeader>
                    <th>Arena Name</th>
                    <th>Created by</th>
                    <th>Challenge Name</th>
                    <th>Challenge Difficulty</th>
                    <th>Select</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Name</td>
                    <td>@context.Creator</td>
                    <td>@context.CurrentChallenge?.Name</td>
                    <td>@context.CurrentChallenge?.Difficulty</td>
                    <td>
                        <MatButton OnClick="@(() => JoinArena((Arena) context))">Join</MatButton>
                    </td>
                </MatTableRow>
            </MatTable>
            <MatH5>Full Arenas</MatH5>
            <MatList>
                @foreach (var arena in FullArenas)
                {
                    <MatListItem>
                        <MatListItemPrimaryText>@arena.Name</MatListItemPrimaryText>
                        <MatListItemSecondaryText>by @arena.Creator with challenge @arena.ChallengeName</MatListItemSecondaryText>
                    </MatListItem>
                }
            </MatList>

        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <MatH3 Class="text-center">Create Arena</MatH3>
            <MatButton Raised="true" OnClick="@(() => isCreateArena = !isCreateArena)">Create Arena Challenge</MatButton>
            @if (isCreateArena)
            {
                <p>Arena Name:</p>
                <MatTextField TValue="string" @bind-Value="@NewArena.Name"></MatTextField>
                <MatButton OnClick="ShowChallenges">Select Challenge</MatButton>
                @if (SelectedChallenge != null)
                {
                    <MatH6>Challenge selected:</MatH6>
                    <MatH5>@SelectedChallenge.Name</MatH5>
                    <MatButton Raised="true" OnClick="CreateArena">Create</MatButton>
                }
            }
        </div>
    </div>
</div>
