
<div>
    <div class="text-center">
        <div>
            <MatAccordion Multi="true">
                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>Difficulty: Easy</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <MatList SingleSelection="true">
                                @foreach (var easy in CodeChallenges.Challenges.Where(x => x.Difficulty == "Easy"))
                                {
                                    <MatListDivider></MatListDivider>
                                    <MatListItem>
                                        <MatButton Style="font-weight:600" @onclick="@(() => SelectChallenge(easy))">@easy.Name</MatButton>
                                    </MatListItem>
                    
                                }
                            </MatList>
                        </MatExpansionPanelDetails>
                    
                </MatExpansionPanel>
                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>Difficulty: Medium</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <MatList SingleSelection="true">
                                @foreach (var medium in CodeChallenges.Challenges.Where(x => x.Difficulty == "Mid"))
                                {
                                    <MatListDivider></MatListDivider>
                                    <MatListItem><MatButton Style="font-weight:600" @onclick="@(() => SelectChallenge(medium))">@medium.Name</MatButton></MatListItem>
                   
                                }
                            </MatList>
                        </MatExpansionPanelDetails>
                   
                </MatExpansionPanel>
                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>Difficulty: Hard</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <MatList SingleSelection="true">
                                @foreach (var hard in CodeChallenges.Challenges.Where(x => x.Difficulty == "Hard"))
                                {
                                    <MatListDivider></MatListDivider>
                                    <MatListItem> <MatButton Style="font-weight:600" @onclick="@(() => SelectChallenge(hard))">@hard.Name</MatButton></MatListItem>
                   
                                }
                            </MatList>
                        </MatExpansionPanelDetails>
                   
                </MatExpansionPanel>
            </MatAccordion>
        
        </div>
    </div>
</div>
