@page "/"

@if (!isPageReady)
{
    <MatH4 Class="text-center">Loading required assemblies</MatH4>
    <MatH6 Class="text-center">In order to dynamically compile and execute any c# code you write, we have to load several assemblies. Almost done...</MatH6>
    <SpinKitFadingCircle />
    <div class="mainIcon" style="background-image: url('indexRvrLoad.png')"></div>
}
else
{
    <MatTabGroup @bind-ActiveIndex="tabIndex">
        <MatTab Label="Home">
            <div>
                <MatH4>Check out some c# learning tools, including:</MatH4>
                <div class="backgroundIcon">
                    <MatList SingleSelection="true" TwoLine="true">
                        <MatListItem OnClick="@(() => tabIndex = 1)">
                            <MatListItemText>
                                <MatListItemPrimaryText Class="listPrimary">c# Challenges</MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    <div class="listSecondary">Practice c# by taking some basic coding challenges</div>
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                        <MatListDivider></MatListDivider>
                        <MatListItem OnClick="@(() => tabIndex = 2)">
                            <MatListItemText>
                                <MatListItemPrimaryText Class="listPrimary">Practice c#</MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    <div class="listSecondary">A Monaco Editor with a variety of code snippets to get you started</div>
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                        <MatListDivider></MatListDivider>
                        <MatListItem OnClick="@(() => tabIndex = 3)">
                            <MatListItemText>
                                <MatListItemPrimaryText Class="listPrimary">Watch c# Videos</MatListItemPrimaryText>
                                <MatListItemSecondaryText Class="listSecondary">
                                    <div class="listSecondary">Select from a variety of Topics to watch YouTube training videos</div>
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                        <MatListDivider></MatListDivider>
                        <AuthorizeView>
                            <Authorized>
                                <MatListItem OnClick="@(() => tabIndex = 4)">
                                    <MatListItemText>
                                        <MatListItemPrimaryText Class="listPrimary">Create c# Challenge</MatListItemPrimaryText>
                                        <MatListItemSecondaryText>
                                            <div class="listSecondary">Create and solve your own c# challenge, and add it to our database for others to solve</div>
                                        </MatListItemSecondaryText>
                                    </MatListItemText>
                                </MatListItem>
                                <MatListItem Href="/diffShare">
                                    <MatListItemText>
                                        <MatListItemPrimaryText Class="listPrimary">
                                            Dual Editor Mode (diff)
                                        </MatListItemPrimaryText>
                                        <MatListItemSecondaryText>
                                            <div class="listSecondary">Team-up and code with a partner. Share your code instantly and see the highlighted diffs.(Experimental) </div>
                                        </MatListItemSecondaryText>
                                    </MatListItemText>
                                </MatListItem>
                                <MatListItem Href="/arenaHub">
                                    <MatListItemText>
                                        <MatListItemPrimaryText Class="listPrimary">
                                           Arena
                                        </MatListItemPrimaryText>
                                        <MatListItemSecondaryText>
                                            <div class="listSecondary">(Experimental) </div>
                                        </MatListItemSecondaryText>
                                    </MatListItemText>
                                </MatListItem>
                            </Authorized>
                            <NotAuthorized>
                                <MatListItem OnClick="@(() => tabIndex = 4)">
                                    <MatListItemText>
                                        <MatListItemPrimaryText Class="listPrimary">Log-in for more</MatListItemPrimaryText>
                                        <MatListItemSecondaryText>
                                            <div class="listSecondary">Log-in to track your progress, unlock new challenges and lessons, and add your own c# challenges!</div>
                                        </MatListItemSecondaryText>
                                    </MatListItemText>
                                </MatListItem>
                            </NotAuthorized>
                        </AuthorizeView>
                    </MatList>
                </div>
            </div>
        </MatTab>
       
        <MatTab Label="Code Challenges">
            <CodeChallengeHome />
        </MatTab>
        <MatTab Label="Practice c#">
            <CodeHome />
        </MatTab>
        <MatTab Label="Watch c# Videos">
            <VideoHome />
        </MatTab>
        <AuthorizeView>
            <Authorized>
                <MatTab Label="Add c# Challenge">
                    <ChallengeAddUser />
                </MatTab>
            </Authorized>
            <NotAuthorized>
                <MatTab Label="Sign in">
                    <LoginProvider/>
                </MatTab>
            </NotAuthorized>
        </AuthorizeView>
    </MatTabGroup>

    @*@if (isShowChat)
    {
        <HubStart ToggleChat="HandleToggle"/>
    }
    else
    {
        <MatFAB Class="app-fab-absolute" OnClick="ShowChat" Label="Start Interactive" Icon="chat"></MatFAB>
    }*@
}
<div style="font-size: .7rem; bottom:0; right:100%; position: sticky; margin-top:10em">Icons made by <a href="https://www.flaticon.com/authors/catkuro" title="catkuro">catkuro</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a><a href="https://icons8.com/icon/67343/checkmark">Checkmark icon by Icons8</a></div>
